<div class="fixed-top">
  <nav class="navbar navbar-light bg-faded">
    <div class="container">
      <div class="row align-items-center input">
        <div class="col-md-3">
          <a routerLink="" class="navbar-brand">
            <img src="/assets/logo.png" />
          </a>
        </div>
        <div class="col-md-8">
          <!-- {{ ofertaTwo | json }} pipe transformando objeto em json -->
          <input 
            type="text" 
            class="form-control" 
            placeholder="Pesquise por ofertas..."
            #termoDePesquisa
            (keyup)="search($event.target.value); 
            searchEvent($event); 
            searchRefer(termoDePesquisa.value)"
          />
          <ul class="list-group" style="position: absolute; z-index: 999">
            <li class="list-group-item" *ngFor="let oferta of ofertas | async"> 
              <a [routerLink]="['/oferta', oferta.id ]" (click)="clearSearch()">
                {{ oferta.titulo | descricaoReduzida: 7 }} 
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md">
            <a routerLink="/ordem-compra-reactive-forms"><img src="/assets/carrinho.png" /></a>
        </div>
      </div>
    </div>
  </nav>

  <div class="menu">
    <div class="container">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/restaurante">Restaurantes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/diversao']">Diversão</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="banner">
  <img src="/assets/banners/img_1.jpg" />
</div>